@import url("home.css");
@import url("form.css");

.post-section .post-title {
     margin: 10px;
     text-transform: capitalize;
}

.introduction-section {
     padding: 5px;
     margin: 5px;
     border: 1px solid #eeeeee;
}

.introduction-section .introduction-figure {
	float: left;
	width: 350px;
	height: 200px;
	margin: 5px 0;
}

.introduction-section .introduction-figure img {
	width: 100%;
	height: 100%;
}

.introduction-section .post-information {
	float: left;
	padding: 5px;
	margin: 5px;
	border: 1px solid #eeeeee;
}

.introduction-section .post-information ul {
	margin: 10px 0;
}

.introduction-section .post-information ul.social-media-buttons li {
	display: inline-block;
}

.introduction-section .post-information ul li {
	list-style: none;
}

.post-section .post-content {
    margin: 20px 10px;
}


/********** Tags Section  *************/
.tags-section {
    padding: 10px;
    margin: 30px 0 20px 0;
    border: 1px solid #eeeeee;
}

.tags-section .tag-image {
    margin: 0 5px 0 0;
}

.tags-section a {
    margin: 0 5px;
    text-transform: capitalize;
}


/*********** Related Posts Section ************/
.related-posts-section {
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #eeeeee;
}

.related-posts-section .post {
    float: left;
    width: 270px;
    margin: 20px 5px;
    border: 1px solid #eeeeee;
}

.related-posts-section .post img {
    width: 100%;
    height: 170px;
}

.related-posts-section .post figcaption {
    margin: 0 3px 3px 3px;
    font-size: 16px;
}


/**** Post Comments  **/
.comments-section .reply-links {
    padding: 5px;
    margin: 10px 0 5px 0;
    border: 1px solid #eeeeee;
}

.comments-section .reply-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
}

.comments-section .comment-replies  {
    margin: 20px 0;
}

.comments-section .comment-replies .reply {
    padding: 5px;
    margin: 10px 0;
    border: 1px solid red;
    font-size: 16px;
}

.comments-section .comment .reply figure {
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px 5px 5px 0;
}


/** Comment Form  ***/
.comment-form-section {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #eeeeee;
}

.comment-form-section .form label, .comment-form-section .form textarea {
    display: block;
}

.comment-form-section .form textarea  {
    width: 100%;
    height: 80px;
}




/************ MEDIA QUERIES ***************/
@media (max-width: 800px) {
    .introduction-section .introduction-figure {
    	float: none;
    	width: 100%;
        height: 300px;
    }
    .introduction-section .post-information {
    	float: none;
        margin: 10px 0 0 0;
    }
    .introduction-section .post-information ul {
        margin: 10px 0;
    }
    .introduction-section .post-information ul li {
    	display: inline-block;
    	margin: 5px 10px 5px 0;
    }
    .related-posts-section .post {
        width: 220px;
    }
    .related-posts-section .post img {
        height: 150px;
    }
}

@media (max-width: 640px) {
    .introduction-section .introduction-figure {
        height: 380px;
    }
    .related-posts-section .post {
        width: 280px;
    }
    .related-posts-section .post img {
        height: 180px;
    }
}

@media (max-width: 480px) {
    .introduction-section .introduction-figure {
        height: 260px;
    }
}

@media (max-width: 360px) {
    .introduction-section .introduction-figure {
        height: 280px;
    }
     .introduction-section .post-information ul:first-child li {
        display: block;
        margin: 10px;
    }
    .related-posts-section .post {
        float: none;
        width: 98%;
    }
    .related-posts-section .post img {
        height: 170px;
    }
}

@media (max-width: 320px) {
    .introduction-section .introduction-figure {
        height: 200px;
    }
}